html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%-5px;
  height: auto;
  border: 5px solid black;
}
#figureComercio {
  width: 10%;
  margin: 20px 20px;
}
#imgComercio {
  width: 100%;
  height: auto;
  object-fit: fill;
}
h1 {
  margin-top: 20px;
  margin-right: 40px;
  font-size: xxx-large;
  padding-bottom: 30px;
  align-self: center;
}
h2 {
  color: white;
  font-size: 2.5em;
  text-align: center;
  margin-top: 1em;
}
#lblBuscador {
  padding: 1em;
  border-top: 2px solid white;
}
#opcionesTask {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-content: center;
  margin: 2em;
  width: 70%;
  height: auto;
  border: 5px solid black;
}
#formTarea {
  width: 40%;
  border-radius: 40px;
  justify-self: center;
  justify-items: left;
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr 4fr;
  padding: 3em;
  row-gap: 40px;
  align-items: center;
}
#lblTitulo,
#inputTitulo,
#lblDescripcion,
#inputDescripcion,
#lblPrioridad,
#selectPrioridad,
#submitCrear {
  font-size: x-large;
  width: 100%;
}

#headTarea {
  font-size: xx-large;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  text-align: center;
  grid-column: 1/3;
}
#inputDescripcion {
  height: 100%;
}
#submitCrear {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  justify-self: center;
  grid-column: 1/3;
}

#cardTarea {
  display: inline-flex;
  justify-self: left;
  color: white;
  width: 20%;
  flex-direction: column;
  padding: 1em;
  row-gap: 1em;
  margin: 2em;
  height: auto;
  font-size: x-large;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#cabeceraTarea {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

#tituloTarea {
  grid-row: 2;
  text-align: center;
  font-size: xx-large;
}

#btnCerrarTarea {
  right: 8px;
  background: red;
  grid-row: 1;
  width: 3em;
  height: 3em;
  margin-left: 1em;
  color: white;
}

#btnEditarTarea {
  right: 48px;
  background: orange;
  grid-row: 1;
  justify-self: right;
  width: 3em;
  height: 3em;
}

#btnCerrarTarea:hover,
#btnEditarTarea:hover {
  transform: scale(1.1);
}

#filtros {
  display: flex;
  flex-direction: column;
  margin: 2em;
  row-gap: 1em;
}
#filtros label {
  color: white;
}
#filtros select {
  width: 20%;
}
#filtros select,
label {
  font-size: x-large;
}
