form {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-row: 33% 33% 33%;
  row-gap: 5rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}
.labelImporte {
  grid-column-start: 1;
  grid-row-start: 1;
}
.inputImporte {
  grid-column-start: 1;
  grid-row-start: 2;
  display: block;
}

.labelDivisaFrom {
  grid-column-start: 2;
  grid-row-start: 1;
}
.inputDivisaFrom {
  grid-column-start: 2;
  grid-row-start: 2;
  display: block;
}
.labelDivisaTo {
  grid-column-start: 3;
  grid-row-start: 1;
}
.inputDivisaTo {
  grid-column-start: 3;
  grid-row-start: 2;
  display: block;
}
.inputSubmit {
  display: block;
  grid-column-start: 3;
  grid-row-start: 3;
}
h1 {
  text-align: center;
}
