body {
  font-family: Arial, sans-serif;
  background: #e8f0ff;
  padding: 20px;
}
#config {
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 4px #777;
}
#grid {
  display: grid;
  gap: 5px;
  margin-top: 20px;
}
.cell {
  width: 40px;
  height: 40px;
  background: #d6e4ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}
.ship {
  background: lightgreen !important;
}
.miss {
  background: #ffb3b3 !important;
}
#vidas {
  font-size: 20px;
  margin-top: 10px;
}

#grid figure {
  width: 10%;
  margin: 20px 20px;
  width: 2em;
  display: flex;
  justify-content: center;
}
#grid figure img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
