html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}
header,
footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  left: 0;
  width: 99.5%;
  border: 5px solid black;
}
header {
  position: sticky;
  top: 0;
  height: auto;
}
footer {
  position: static;
  bottom: 0;
  position: absolute;
  height: 10rem;
}
figure {
  width: 100%;
}
#figureComercio {
  width: 10%;
  margin: 20px 20px;
}
img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
h1 {
  margin-top: 20px;
  margin-right: 40px;
  font-size: xxx-large;
  padding-bottom: 30px;
  align-self: center;
}
h2 {
  margin-top: 10px;
  margin-right: 40px;
  font-size: xx-large;
  padding-bottom: 20px;
  align-self: center;
}
h3 {
  margin-top: 3px;
  margin-right: 40px;
  font-size: x-large;
  align-self: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  justify-self: center;
  margin-top: 5%;
  background-color: white;
  padding: 1.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  input,
  label {
    margin: 2%;
    display: block;
    font-size: xx-large;
  }
  #submit {
    height: 5rem;
  }
}
#crearPet {
  display: block;
  padding: 1em;
  font-size: xx-large;
  background: linear-gradient(to left, #0086df, #ffffff);
  margin-top: 2em;
  justify-self: center;
}
#crearPet:hover {
  transform: scale(1.1);
}
#listaPets {
  display: flex;
  max-height: 30em;
}
card {
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;

  -webkit-box-shadow:
    5px 5px 0px 0px #289fed,
    10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff,
    20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow:
    5px 5px 0px 0px #289fed,
    10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff,
    20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff,
    5px 5px 15px 5px rgba(0, 0, 0, 0);

  background-color: white;
  margin: 2%;
  max-width: 15%;
  padding: 1%;
  text-align: center;
  p {
    margin-top: 1em;
    font-size: large;
  }
  h4 {
    margin-top: 0.5em;
    font-size: x-large;
  }
  #figurePet {
    height: 30%;
    justify-self: center;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
    }
  }
}
#cabeceraPet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  margin-bottom: 2em;

  #namePet {
    flex: 1;
    text-align: center;
    font-size: xx-large;
  }

  #btnCerrarPet {
    background: red;
    width: 2em;
    height: 2em;
    color: white;
  }

  #btnEditarPet {
    background: orange;
    width: 2em;
    height: 2em;
  }

  #btnCerrarPet:hover,
  #btnEditarPet:hover {
    transform: scale(1.1);
  }
}

#formPet {
  display: flex;
  align-items: center;
  margin-top: 2%;
  justify-content: space-between;
  width: 40%;
  gap: 2em;
  flex-direction: row;
  #figurePet {
    justify-self: center;
    width: 50%;
  }
  input,
  label,
  select {
    width: 100%;
    margin: 2%;
    display: block;
    font-size: x-large;
  }
  #submit {
    height: 4rem;
    width: 100%;
  }
}
